body {
  background-color: #E9D5DA;
}

h1{
  color: #E78EA9;
}

h3{
  color: #E78EA9;
}

 hr {
  border-style: none;
  border-top-style: dotted;
  border-color: white;
  border-width: 5px;
  width: 5%;
}
